<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASP.NET Core SignalR</title>

    <script src="~/js/signalr-client-1.0.0-alpha2-final.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>